In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!ls "/content/drive/My Drive/255_Data_Mining/dataset/basic_data_files.csv"

'/content/drive/My Drive/255_Data_Mining/dataset/basic_data_files.csv'

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv("/content/drive/My Drive/255_Data_Mining/dataset/basic_data_files.csv"
                 , usecols=['YEAR', 'TRI_FACILITY_ID', 'FACILITY_NAME', 'LATITUDE', 'LONGITUDE', 'ZIP', 'ST','FEDERAL_FACILITY',
                                 'INDUSTRY_SECTOR','CHEMICAL','CLEAR_AIR_ACT_CHEMICAL','CAS_#/COMPOUND_ID', 'CLASSIFICATION', 'METAL', 'METAL_CATEGORY',
                                 'CARCINOGEN','5.1_FUGITIVE_AIR', '5.2_STACK_AIR','5.3_WATER','5.4_UNDERGROUND','5.5.1_LANDFILLS',
                                 '5.5.2_LAND_TREATMENT','5.5.3_SURFACE_IMPOUNDMENT', '5.5.4_OTHER_DISPOSAL','ON-SITE_RELEASE_TOTAL','OFF-SITE_RELEASE_TOTAL',
                                 'OFF-SITE_RECYCLED_TOTAL','OFF-SITE_RECOVERY_TOTAL','OFF-SITE_TREATED_TOTAL',
                                 'TOTAL_RELEASES','PROD._WASTE_(8.1_THRU_8.7)','PARENT_COMPANY_NAME'],
                 nrows = 2548769)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,8,11,12,35,39,40,41,42,45,48,49,52,53,74,80,83,90,91,103) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df.head(6)

   YEAR  TRI_FACILITY_ID  ... PROD._WASTE_(8.1_THRU_8.7)     PARENT_COMPANY_NAME
0  2016  46552DCTLT30350  ...                    1170.32                     NaN
1  2016  01950NNSPC3MALC  ...                         18                     NaN
2  2016  44691CRGLL1203T  ...                          0             CARGILL INC
3  2016  02745CSHNT215DU  ...                       2297  ACUSHNET HOLDINGS CORP
4  2016  30050CLRXC17LAK  ...                        260           THE CLOROX CO
5  2016  78114WTCTN5877F  ...                       5488                     NaN

[6 rows x 32 columns]

In [ ]:
df.describe()

In [ ]:
df.value_counts()

YEAR  TRI_FACILITY_ID  FACILITY_NAME                                        ST  ZIP    LATITUDE            LONGITUDE           FEDERAL_FACILITY  INDUSTRY_SECTOR           CHEMICAL            CAS_#/COMPOUND_ID  CLEAR_AIR_ACT_CHEMICAL  CLASSIFICATION  METAL  METAL_CATEGORY  CARCINOGEN  5.1_FUGITIVE_AIR  5.2_STACK_AIR  5.3_WATER  5.4_UNDERGROUND  5.5.1_LANDFILLS  5.5.2_LAND_TREATMENT  5.5.3_SURFACE_IMPOUNDMENT  5.5.4_OTHER_DISPOSAL  ON-SITE_RELEASE_TOTAL  OFF-SITE_RELEASE_TOTAL  OFF-SITE_RECYCLED_TOTAL  OFF-SITE_RECOVERY_TOTAL  OFF-SITE_TREATED_TOTAL  TOTAL_RELEASES  PROD._WASTE_(8.1_THRU_8.7)  PARENT_COMPANY_NAME
YEAR  TRI_FACILITY_ID  FACILITY_NAME                                        ST  ZIP    LATITUDE            LONGITUDE           FEDERAL_FACILITY  INDUSTRY_SECTOR           CHEMICAL            CAS_#/COMPOUND_ID  CLEAR_AIR_ACT_CHEMICAL  CLASSIFICATION  METAL  METAL_CATEGORY  CARCINOGEN  5.1_FUGITIVE_AIR  5.2_STACK_AIR  5.3_WATER  5.4_UNDERGROUND  5.5.1_LANDFILLS  5.5.2_LAND_TREATMENT  5.5.3_SURFACE_IMPOUNDMENT  5.5.4_OTHER_DISPOSAL  ON-SITE_RELEASE_TOTAL  OFF-SITE_RELEASE_TOTAL  OFF-SITE_RECYCLED_TOTAL  OFF-SITE_RECOVERY_TOTAL  OFF-SITE_TREATED_TOTAL  TOTAL_RELEASES  PROD._WASTE_(8.1_THRU_8.7)  PARENT_COMPANY_NAME       30
2011  06787YLTSF45OLD  STEWART EFI CT LLC                                   CT  6787   41.65173            -73.07802           NO                Fabricated Metals         MIXTURE             MIXTURE            NO                      TRI             NO     0               NO          0.0               0.0            0.0        0                0                0.0                   0                          0.0                   0.0                    0.0                     0.0                      0.0                      0.0                     0.0             0.0                         STEWART EFI LLC           20
      44705THKRL442LU  MATALCO (US) INC                                     OH  44705  40.82553            -81.31115           NO                Primary Metals            MIXTURE             MIXTURE            NO                      TRI             NO     0               NO          0.0               0.0            0.0        0                0                0.0                   0                          0.0                   0.0                    0.0                     0.0                      0.0                      0.0                     0.0             0.0                         MATALCO (US) INC          20
2012  29602JPSTMCOMME  IAC GREENVILLE LLC                                   SC  29611  34.812313           -82.435103          NO                Transportation Equipment  MIXTURE             MIXTURE            NO                      TRI             NO     0               NO          0.0               0.0            0.0        0                0                0.0                   0                          0.0                   0.0                    0.0                     0.0                      0.0                      0.0                     0.0             0.0                         IAC N.A.                  10
      93030PTTCH501DE  PTI TECHNOLOGIES INC                                 CA  93030  34.20616            -119.1272           NO                Transportation Equipment  MIXTURE             MIXTURE            NO                      TRI             NO     0               NO          0.0               0.0            0.0        0                0                0.0                   0                          0.0                   0.0                    0.0                     0.0                      0.0                      0.0                     0.0             0.0                         ESCO TECHNOLOGIES INC     10
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 ..
2006  46323HMMND23081  HAMMOND LEAD PRODUCTS & HAMMOND EXPANDERS DIVISIONS  IN  46320  41.595513000000004  -87.47372800000001  NO                Chemicals                 ANTIMONY COMPOUNDS  N010               YES                     TRI             YES    1               NO          4.0               3.0            0.0        0                0                0.0                   0                          0.0                   7.0                    5.0                     0.0                      0.0                      0.0                     14.0            12.0                        HAMMOND GROUP INC          1
                                                                                                                                                                           BARIUM COMPOUNDS    N040               NO                      TRI             NO     3               NO          9.0               7.0            0.0        0                0                0.0                   0                          0.0                   16.0                   23.0                    0.0                      0.0                      1.0                     39.0            40.0                        HAMMOND GROUP INC          1
                                                                                                                                                                           ZINC COMPOUNDS      N982               NO                      TRI             YES    1               NO          61.0              48.0           0.0        0                0                0.0                   0                          0.0                   109.0                  7.0                     0.0                      0.0                      0.0                     122.0           116.0                       HAMMOND GROUP INC          1
      46323HMMND3100M  HAMMOND GROUP INC- EXPANDERS 3100                    IN  46323  41.475390000000004  -87.02712           NO                Chemicals                 BARIUM COMPOUNDS    N040               NO                      TRI             NO     3               NO          1.0               1.0            0.0        0                0                0.0                   0                          0.0                   2.0                    628.0                   0.0                      0.0                      1.0                     630.0           631.0                       HAMMOND GROUP INC          1
1993  00602BXTRHRD115  DADE DIAGNOSTICS OF PR INC                           PR  602    18.380797           -67.191301          NO                Plastics and Rubber       METHANOL            000067561          YES                     TRI             NO     0               NO          0.0               0.0            0.0        0                0                0.0                   0                          0.0                   0.0                    0.0                     0.0                      750.0                    0.0                     0.0             1600.0                      DADE INTERNATIONAL INC     1
Length: 1687524, dtype: int64

In [ ]:
df['FEDERAL_FACILITY'].value_counts()

NO                  2517537
YES                   31202
FEDERAL_FACILITY         30
Name: FEDERAL_FACILITY, dtype: int64

In [ ]:
df.drop(df[df['YEAR'] == 'YEAR'].index, inplace = True)
df.drop(df[df['YEAR'] == 'Unnamed: 0'].index, inplace = True)
df.drop(df[df['YEAR'] == 0].index, inplace = True)
# df.drop[df['YEAR']=='Unnamed: 0'] = 0
# df.drop(df[df['YEAR'] < 2000].index, inplace = True)

In [ ]:
df['FEDERAL_FACILITY'] = df['FEDERAL_FACILITY'].map(dict(YES=1, NO=0))
df['CLEAR_AIR_ACT_CHEMICAL'] = df['CLEAR_AIR_ACT_CHEMICAL'].map(dict(YES=1, NO=0))
df['METAL'] = df['METAL'].map(dict(YES=1, NO=0))
df['CARCINOGEN'] = df['CARCINOGEN'].map(dict(YES=1, NO=0))

In [ ]:
df['FEDERAL_FACILITY'].value_counts()

0    2517537
1      31202
Name: FEDERAL_FACILITY, dtype: int64

In [ ]:
import numpy as np
df.replace([np.inf, -np.inf], np.nan, inplace=True)
df.dropna(inplace=True)

In [ ]:
df.dtypes

YEAR                          object
TRI_FACILITY_ID               object
FACILITY_NAME                 object
ST                            object
ZIP                           object
LATITUDE                      object
LONGITUDE                     object
FEDERAL_FACILITY               int64
INDUSTRY_SECTOR               object
CHEMICAL                      object
CAS_#/COMPOUND_ID             object
CLEAR_AIR_ACT_CHEMICAL         int64
CLASSIFICATION                object
METAL                          int64
METAL_CATEGORY                object
CARCINOGEN                     int64
5.1_FUGITIVE_AIR              object
5.2_STACK_AIR                 object
5.3_WATER                     object
5.4_UNDERGROUND               object
5.5.1_LANDFILLS               object
5.5.2_LAND_TREATMENT          object
5.5.3_SURFACE_IMPOUNDMENT     object
5.5.4_OTHER_DISPOSAL          object
ON-SITE_RELEASE_TOTAL         object
OFF-SITE_RELEASE_TOTAL        object
OFF-SITE_RECYCLED_TOTAL       object
OFF-SITE_RECOVERY_TOTAL       object
OFF-SITE_TREATED_TOTAL        object
TOTAL_RELEASES                object
PROD._WASTE_(8.1_THRU_8.7)    object
PARENT_COMPANY_NAME           object
dtype: object

In [ ]:
df['YEAR']=df['YEAR'].astype(int)  
df['ZIP']=df.ZIP.astype(int)
df['LATITUDE']=df.LATITUDE.astype(float)
df['LONGITUDE']=df.LONGITUDE.astype(float)
df['5.1_FUGITIVE_AIR']=df['5.1_FUGITIVE_AIR'].astype(float)  
df['5.2_STACK_AIR']=df['5.2_STACK_AIR'].astype(float)  
df['5.3_WATER']=df['5.3_WATER'].astype(float)  
df['5.4_UNDERGROUND']=df['5.4_UNDERGROUND'].astype(float)  
df['5.5.1_LANDFILLS']=df['5.5.1_LANDFILLS'].astype(float)  
df['5.5.2_LAND_TREATMENT']=df['5.5.2_LAND_TREATMENT'].astype(float)  
df['5.5.3_SURFACE_IMPOUNDMENT']=df['5.5.3_SURFACE_IMPOUNDMENT'].astype(float)  
df['5.5.4_OTHER_DISPOSAL']=df['5.5.4_OTHER_DISPOSAL'].astype(float)  
df['ON-SITE_RELEASE_TOTAL']=df['ON-SITE_RELEASE_TOTAL'].astype(float)  
df['OFF-SITE_RELEASE_TOTAL']=df['OFF-SITE_RELEASE_TOTAL'].astype(float)  
df['OFF-SITE_RECYCLED_TOTAL']=df['OFF-SITE_RECYCLED_TOTAL'].astype(float)  
df['OFF-SITE_RECOVERY_TOTAL']=df['OFF-SITE_RECOVERY_TOTAL'].astype(float)  
df['OFF-SITE_TREATED_TOTAL']=df['OFF-SITE_TREATED_TOTAL'].astype(float)  
df['TOTAL_RELEASES']=df['TOTAL_RELEASES'].astype(float)  
df['PROD._WASTE_(8.1_THRU_8.7)']=df['PROD._WASTE_(8.1_THRU_8.7)'].astype(float)

In [ ]:
df.dtypes

YEAR                            int64
TRI_FACILITY_ID                object
FACILITY_NAME                  object
ST                             object
ZIP                             int64
LATITUDE                      float64
LONGITUDE                     float64
FEDERAL_FACILITY                int64
INDUSTRY_SECTOR                object
CHEMICAL                       object
CAS_#/COMPOUND_ID              object
CLEAR_AIR_ACT_CHEMICAL          int64
CLASSIFICATION                 object
METAL                           int64
METAL_CATEGORY                 object
CARCINOGEN                      int64
5.1_FUGITIVE_AIR              float64
5.2_STACK_AIR                 float64
5.3_WATER                     float64
5.4_UNDERGROUND               float64
5.5.1_LANDFILLS               float64
5.5.2_LAND_TREATMENT          float64
5.5.3_SURFACE_IMPOUNDMENT     float64
5.5.4_OTHER_DISPOSAL          float64
ON-SITE_RELEASE_TOTAL         float64
OFF-SITE_RELEASE_TOTAL        float64
OFF-SITE_RECYCLED_TOTAL       float64
OFF-SITE_RECOVERY_TOTAL       float64
OFF-SITE_TREATED_TOTAL        float64
TOTAL_RELEASES                float64
PROD._WASTE_(8.1_THRU_8.7)    float64
PARENT_COMPANY_NAME            object
dtype: object

In [ ]:
from sklearn.compose import make_column_selector as selector

categorical_columns_selector = selector(dtype_include=object)
categorical_columns = categorical_columns_selector(df)
categorical_columns

# df = pd.get_dummies(df, columns=['TRI_FACILITY_ID','FACILITY_NAME','ST','INDUSTRY_SECTOR','CHEMICAL', 
#                                  'CAS_#/COMPOUND_ID','CLASSIFICATION','METAL_CATEGORY','PARENT_COMPANY_NAME'])

['TRI_FACILITY_ID',
 'FACILITY_NAME',
 'ST',
 'INDUSTRY_SECTOR',
 'CHEMICAL',
 'CAS_#/COMPOUND_ID',
 'CLASSIFICATION',
 'METAL_CATEGORY',
 'PARENT_COMPANY_NAME']

In [ ]:
from sklearn.preprocessing import OrdinalEncoder
for col in [['TRI_FACILITY_ID','FACILITY_NAME','ST','INDUSTRY_SECTOR'
              ,'CHEMICAL','CAS_#/COMPOUND_ID','CLASSIFICATION','METAL_CATEGORY','PARENT_COMPANY_NAME']]:
    df[col] = OrdinalEncoder().fit_transform(df[col].astype(str))

In [ ]:
from sklearn.preprocessing import LabelEncoder
for col in [['CHEMICAL']]:
    df[col] = LabelEncoder().fit_transform(df[col].astype(str))

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
df

         YEAR  TRI_FACILITY_ID  ...  PROD._WASTE_(8.1_THRU_8.7)  PARENT_COMPANY_NAME
2        2016          16179.0  ...                         0.0               1827.0
3        2016            872.0  ...                      2297.0                141.0
4        2016           9404.0  ...                       260.0              10258.0
6        2016          18822.0  ...                      1081.0               4147.0
7        2016          11767.0  ...                     10017.0               4564.0
...       ...              ...  ...                         ...                  ...
2548764  1993          33457.0  ...                     66818.0              10684.0
2548765  1993          23787.0  ...                      1570.0               5837.0
2548766  1993          17441.0  ...                     12263.0              10650.0
2548767  1993          17833.0  ...                      5066.0               2905.0
2548768  1993          29661.0  ...                         0.0               3618.0

[2087538 rows x 32 columns]

In [ ]:
X=df.drop(['TRI_FACILITY_ID', 'FACILITY_NAME', 'CHEMICAL',	'CAS_#/COMPOUND_ID', 'CLASSIFICATION', 'PARENT_COMPANY_NAME'], axis=1).values
y=df['CHEMICAL'].values

In [ ]:
from sklearn import tree
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)
model=tree.DecisionTreeClassifier()
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.7370429628494145

In [ ]:
from sklearn import linear_model
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.model_selection import cross_val_score
model = linear_model.LinearRegression()
r2_scores = cross_val_score(model, X_train, y_train, scoring='r2', cv=5)
mse_scores = cross_val_score(model, X_train, y_train, scoring='neg_mean_squared_error', cv=5)
print(r2_scores.mean())
print(mse_scores.mean())

0.012960084458334053
-24338.92733017232