In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
!ls "/content/drive/My Drive/255_Data_Mining/dataset/basic_data_files.csv"

'/content/drive/My Drive/255_Data_Mining/dataset/basic_data_files.csv'

**Load only first n rows**

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/My Drive/255_Data_Mining/dataset/basic_data_files.csv'
                                , sep=','
                                , nrows=1000)
                                # , chunksize=1000000)
                                # , usecols=['YEAR', 'TRI_FACILITY_ID', 'FACILITY_NAME', 'ZIP', 'LATITUDE', 'LONGITUDE', 'PRIMARY_NAICS', 'INDUSTRY_SECTOR', 'CLASSIFICATION', 'CARCINOGEN', '5.1_FUGITIVE_AIR', '5.2_STACK_AIR', '5.3_WATER', 'ON-SITE_RELEASE_TOTAL'])
df

     YEAR  TRI_FACILITY_ID  ...  PARENT_COMPANY_DB_NUMBER Unnamed: 109
0    2016  46552DCTLT30350  ...                       NaN          NaN
1    2016  01950NNSPC3MALC  ...                       NaN          NaN
2    2016  44691CRGLL1203T  ...                 6249189.0          NaN
3    2016  02745CSHNT215DU  ...                       NaN          NaN
4    2016  30050CLRXC17LAK  ...                51039402.0          NaN
..    ...              ...  ...                       ...          ...
995  2016  74116NRGYX1844N  ...                       NaN          NaN
996  2016  74868PRKSM711BR  ...                       NaN          NaN
997  2016  6016WFRGDF11631  ...                       NaN          NaN
998  2016  63122GRNST3400T  ...                       NaN          NaN
999  2016  89822NWMNT25MIL  ...                       NaN          NaN

[1000 rows x 110 columns]

**Load all rows with only selected columns**

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/My Drive/255_Data_Mining/dataset/basic_data_files.csv'
                      , sep=','
                      , usecols=['YEAR', 'TRI_FACILITY_ID', 'FACILITY_NAME', 'ZIP', 'LATITUDE', 'LONGITUDE', 'INDUSTRY_SECTOR', 'CLASSIFICATION', 'METAL', 'METAL_CATEGORY', 'CARCINOGEN', '5.2_STACK_AIR', '5.3_WATER', 'ON-SITE_RELEASE_TOTAL'])
df

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,1,3,8,11,12,15,35,36,40,41,53) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

          YEAR  TRI_FACILITY_ID  ... 5.3_WATER ON-SITE_RELEASE_TOTAL
0         2016  46552DCTLT30350  ...         0                     0
1         2016  01950NNSPC3MALC  ...         0                    18
2         2016  44691CRGLL1203T  ...         0                     0
3         2016  02745CSHNT215DU  ...         0                     0
4         2016  30050CLRXC17LAK  ...         0                    10
...        ...              ...  ...       ...                   ...
5051318  81081             1987  ...         0                     0
5051319  81082             1987  ...    123682                     0
5051320  81083             1987  ...         0                     0
5051321  81084             1987  ...        70                     0
5051322  81085             1987  ...         0                     0

[5051323 rows x 14 columns]

In [ ]:
df['METAL_CATEGORY']

Index(['YEAR', 'TRI_FACILITY_ID', 'FRS_ID', 'FACILITY_NAME', 'STREET_ADDRESS',
       'CITY', 'COUNTY', 'ST', 'ZIP', 'BIA_CODE',
       ...
       ' 8.5_RECYCLING_OFF-SITE', '8.6_TREATMENT_ON-SITE',
       '8.7_TREATMENT_OFF-SITE', 'PROD._WASTE_(8.1_THRU_8.7)',
       '8.8_ONE-TIME_RELEASE', 'PROD_RATIO_OR_ACTIVITY',
       '8.9_PRODUCTION_RATIO', 'PARENT_COMPANY_NAME',
       'PARENT_COMPANY_DB_NUMBER', 'Unnamed: 109'],
      dtype='object', length=110)

In [ ]:
print(df['YEAR'][23444])
print(df['YEAR'][1222538])
print(df['YEAR'][5051319])

2016
2008
81082